
<% if Current.user %>
<% if @tasks %>
<%= link_to "Create", new_task_path, class: "btn btn-primary mt-4" %>   
<% @today %>
<table class="table mt-3">
  <thead>
    <tr>
    
      <th scope="col">Task</th>
      <th scope="col">Desc</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
    
      <td> <%= task.name %> </td>
      <td> <%= task.desc %> </td>
      <td> <%= task.due_date %></td>
      <td> <%= task.priority %></td>
      <% if task.is_done %>
        <td> <%= link_to "  finish   " , toggle_task_path(task.id), method: 'patch',class: "btn btn-outline-primary" %></td>
      <% else %>
       <td> <%= link_to "Unfinished" , toggle_task_path(task.id), method: 'patch',class: "btn btn-outline-info" %></td>
      <% end%>
      
      <td> <%= link_to "Edit", edit_task_path(task.id), class: "btn btn-secondary" %></td>
      <td> 
         <%= link_to 'Remove', task_path(task.id), method: 'delete', data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      
      </td>


    </tr>
  <% end %>
  
  </tbody>
</table>
<% else %>
       <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Create Task</h5>
        <p class="card-text"> </p>
        <%= link_to "Create", tasks_path, class:"btn btn-primary" %>
     
        </div>
       </div>
<% end %>

     <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">All Task</h5>
        <p class="card-text"> </p>
        <%= link_to "Check", tasks_path, class:"btn btn-primary" %>
        </div>
    </div>
     <br>

    
    <% else %>

    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
        <% if Current.user %> 
         <h5 class="card-title">Welcome <%= Current.user.username %></h5>
        <% else %>
         <h5 class="card-title">Welcome</h5
        <% end %>
       
        <p class="card-text">lets build some task.</p>
        <%= link_to "Login", sign_in_path, class:"btn btn-primary"  %>          

        </div>
    </div>
    <% end %>


