

<% if @tasks %>

  <%= link_to "Create", new_task_path, class: "btn btn-primary mt-4" %>   

  <%= render partial: "tasks/search" %>
  <br />
  <br />
  data : <%= @tasks.count %> 
  <%= render partial: "tasks/table" %>

<% else %>
       <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Create Task</h5>
        <p class="card-text"> </p>
          <%= link_to "Create", tasks_path, class:"btn btn-primary" %>
        </div>
       </div>
<% end %>