
<% if @tasks %>
<%= link_to "Create", new_task_path, class: "btn btn-primary mt-4" %>   

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Desc</th>
      <th scope="col">Due Date</th>
      <th scope="col">Priority</th>
      <th scope="col"> By</th>
      <th scope="col"> Is Done</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task, index| %>
    <tr>
     <td> <%= index=+1 %> </td>
      <td> <%= task.name %> </td>
      <td> <%= task.desc %> </td>
      <td> <%= task.due_date %></td>
      <td> <%= task.priority %></td>
      <td> <%= task.created_by %></td>
      <td> <%= task.is_done %></td>
      <td> <%= link_to "Edit", edit_task_path(task.id), class: "btn btn-secondary" %> </td>
      <td> 
         <%= link_to 'Remove', task_path(task.id), method: 'delete', data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      
      </td>


    </tr>
  <% end %>
  
  </tbody>
</table>
<% else %>
       <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Create Task</h5>
        <p class="card-text"> </p>
        <%= link_to "Create", tasks_path, class:"btn btn-primary" %>
     
        </div>
       </div>
<% end %>
