<div class="mb-3" align="center">
<h1> Sign Up </h1>
</div>
<%= form_with model: @user, url: sign_up_path do |form|%>
<% if @user.errors.any? %>
    <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message| %>
            <div><%= message %> </div>
        <% end %>
    </div>
<% end %>
    <div class="mb-3">
        <%= form.label :username %>
        <%= form.text_field :username, class:"form-control", placeholder:"alifudinniko" %>
    </div>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control" ,placeholder:"email@turboly.com" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class:"form-control" , placeholder:"password" %>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class:"form-control" , placeholder:"password confirmation" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Sign Up", class:"btn btn-primary"%>
    </div>
<% end %>
<div class="mb-3" align="center">
    <%= link_to "Have account ? Sigin", sign_in_path, class: "btn btn-link" %>          
</div>